html, body {
    width: 100%;
    height: 100vh;
}

body {
    background-image: url('/img/home.jpg');
    background-size: cover;
    backdrop-filter: blur(14px);
}

#password {
    background: none !important;
}

a:hover {
    text-decoration: none;
}

.nav {
    display: flex;
}

.active {
    color: rgb(240, 160, 13) !important;
    border-bottom: solid 2px rgb(240, 160, 13);
}

.overlay {
    height: inherit;
    width: 100%;
    background: black;
    opacity: .9;
}

.index-card {
    background: #2e2a29;
    opacity: .5;
    border-left: 2px solid rgb(240, 160, 13);
}

.intro {
    margin-top: 25vh;
}

.icon {
    border-radius: 50%;
    border: solid 2px rgb(240, 160, 13);
    color: rgb(240, 160, 13) !important;
}

.proceed {
    border-radius: 30px;
    border: solid 2px rgb(240, 160, 13);
}

.proceed:hover {
    background: rgb(240, 160, 13);
}
